*{
    margin:0;
    padding:0;
    
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #EFF3D1;
}

header{
    overflow: hidden;
    padding-bottom: 30px;
}
.menu{
    margin:0 70px;
}
.menu ul{
    float:right;
    padding:25px 0;
}
.menu ul li{
    float:left;
}
.menu ul li a{
    padding:10px 15px;
    display:block;
    color:rgb(15, 15, 15);
    font-weight: 600;
}



.sec-one{
    overflow: hidden;
}
.half-side{
    
}
.rob{
    padding:30px 0;
}
.rob h1{
    font-size: 60px;
    padding:20px 0;
    text-transform: uppercase;
}
.color{
    color:rgb(212, 85, 85)
}
.rob p{
    font-size: 16px;
    margin-bottom: 20px;
    
}
.btn-link{
    background-color: blue;
    padding:10px 20px;
    color:cornsilk;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
   
}
.half-side{
    width: 42%;
    float: left;
    margin-left:5%;
    margin-right: 2%;
    
}


.rob-pic{
    padding-top:45px;
}
.rob-pic img{
    width:400px;
    height: 320px;
    padding-top:20px;
}





.right-pic img{
    width:450px;
    height:450px;
    padding-left:40px;
}
.right-article{}
.right-article h2{
    font-size: 45px;
    padding:20px 0;
    text-transform: uppercase;
}
.right-article p{
    padding-bottom:40px;
    font-size: 16px;
    line-height: 22px;
}


#box-group{
    overflow: hidden;
    background: #EFF3D1;
    padding:40px 0;
}
#box-group h2{
    font-size: 35px;
    padding-bottom:30px;
    text-transform: uppercase;
    text-align: center;
}
.box-one{
    width:25%;
    float:left;
    margin-left:6%;
    background-color: floralwhite;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
    
}
.box-one:last-child{
    margin-right:10;
}

.box-one img{
    width: 300px;
    height: 250px;
}
.box-one h3{
    text-align: left;
    padding:10px 25px;
    font-size: 23px;
}
.box-one p{
    text-align: left;
    padding:10px 25px;
    line-height: 22px;
}

#big-box{
    overflow: hidden;
    background-color:#EFF3D1;
}

.blue-box{
    width:800px;
    height: 200px;
    background-color: rgb(243, 115, 121);
    border-radius: 15px;
    margin:80px auto;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
   
}
.blue-left{
    width:48%;
    float:left;
}
.blue-left h2{
    text-transform: uppercase;
    font-size: 30px;
    color:lavender;
    margin:80px 60px;
    text-shadow: 2px 2px 8px rgb(71, 71, 71);
}

.blue-right{
    width:48%;
    float:right;
    position:relative;
}
.blue-right a{
    margin-left:200px;
    margin-top:80px;
    position: absolute;
    box-shadow: 2px 2px 8px rgb(71, 71, 71);
}

#search{
    padding-bottom:30px;
}
.search-box{
    width:600px;
    height: 360px;
    background: #EFF3D1;
    border-radius: 15px;
    margin:30px auto;
    text-align: center;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
}
.search-box h2{
    padding-top:60px;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(243, 115, 121);

}
.search-box p{
    color:rgb(117, 114, 114);
    font-weight: 600;
    padding:20px 0;
    font-size: 14px;
}
.mail-check{
    width:280px;
    padding:10px;
    border-radius: 4px;
    border:1px solid grey;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
}
.submit{
    width:300px;
    padding:10px;
    border-radius: 4px;
    border:none;
    background-color: rgb(243, 115, 121);
    text-transform: uppercase;
    color:#fff;
    font-weight: 600;
    box-shadow: 1px 1px 8px rgb(41, 41, 41);
    
}

.foot{
    text-align: center;
    padding-bottom:30px;
}
.foot h4{
    padding:10px 0;
    color:grey;
    font-size: 16px;
    text-transform: uppercase;
}
.foot h3{
    padding-bottom:20px;
    font-size: 35px;
    color:rgb(19, 9, 43)
}
.foot-icon img{
    width: 30px;
    height: 30px;
    margin-left:10px;
}




